{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<div class="postlist">
{# {% for post in postslist | reverse %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("dd LLL yyyy") }}</time>
		<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>
		{% endif %}</a>
	</li>
{% endfor %} #}


{% for post in postslist | reverse %}
	<a href="{{ post.url }}" class="postlist-link icon postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("dd LLL yyyy") }}</time>
		{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>
		{% endif %}
	</a>
{% endfor %}

</div>