---
layout: layouts/base.njk
---
<!-- Delete this message, it will also remove the component CSS from the bundle -->
<div>
	<p>
	<b>Howdy! 🤠</b><br> <br>
	Welcome to my blog. I write about Life, Learnings, Design, Tech, Project Ideas and some other stuff.
	Feel at home, browse around.</p>
</div>

{{ content | safe }}
