---
layout: layouts/base.njk
---
<!-- Delete this message, it will also remove the component CSS from the bundle -->
<div id="hero-content">
	<h3>Howdy!🤠</h3>
	<p>Welcome to my blog. I write about Life, Learnings, Design, Tech, Project Ideas and some other stuff.
	Feel at home, browse around.</p>
</div>
<div id="homepage-postlist">
{{ content | safe }}

</div>
